@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.titleCard {
  font-family: 'Concert One', cursive;
}

.shadowCard:hover {
  -webkit-box-shadow: 0px 0px 13px 0.5px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 13px 0.5px rgba(255,255,255,1);
  box-shadow: 0px 0px 13px 0.5px rgba(255,255,255,1);
}

.textLoading h1 {
  font-family: 'Concert One', cursive;
  color: rgb(105,25,32);
}

.cardLanding {
  margin-top: 40%;
  background-color: white;
  color: black;
  border-radius: 20px;
  margin-left: 40px;
}

.cardLanding:hover {
  -webkit-box-shadow: 0px 0px 13px 0.5px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 13px 0.5px rgba(255,255,255,1);
  box-shadow: 0px 0px 13px 0.5px rgba(255,255,255,1);
}

.bgMovie2 {
  background-image: url('./bgMovie2.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size:auto;
}

/* ================================ */
.overlay { 
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px; 
}

.overlay p {
  font-family: 'Concert One', cursive;
  padding: 8px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
  cursor: pointer;
}

.overlay a {
  font-family: 'Concert One', cursive;
  padding: 8px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}

.overlay p:hover, .overlay p:focus {
  color: #f1f1f1;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}